*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer{
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 5px white;
}

main{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

main div{
    display: flex;
    align-items: center;
    border: solid 1px black;
    height: 50vh;
    width: 80vw;
    text-align: center;
}
